In [1]:
i=0
while (i<=15):
    i=i+1
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [2]:
i=0
while (i<=15):
  
    if i==7:
        break
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [3]:
  i=0
while (i<=15):
  
    if i==7:
        break
    i=i+1    
    print(i)

1
2
3
4
5
6
7

In [5]:
i=0
while i<=15:
    i=i+1
    if i==7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10
11
12
13
14
15
16

In [6]:
r=1
while r<=6:
    c=1
    while c<=r:
        print(1,end="")
        c=c+1
    print()
    r=r+1

1
11
111
1111
11111
111111

In [7]:
r=1
while r<=6:
    c=1
    while c<=r:
        print(c,end="")
        c=c+1
    print()
    r=r+1

1
12
123
1234
12345
123456

In [8]:
r=1
while r<=6:
    c=1
    while c<=r:
        print(r,end="")
        c=c+1
    print()
    r=r+1

1
22
333
4444
55555
666666

In [9]:
r=1
while r<=6:
    c=1
    while c<=6:
        print(1,end="")
        c=c+1
    print()
    r=r+1

111111
111111
111111
111111
111111
111111

In [10]:
r=5
while r>=1:
    c=1
    while c<=r:
        print("*",end="")
        c=c+1
    print()
    r=r-1

*****
****
***
**
*

In [1]:
r=1
while r<=5:
    c=1
    while c<=r:
        print("*",end="")
        c=c+1
    print()
    r=r+1
r=4
while r>=1:
    c=1
    while c<=r:
        print("*",end="")
        c=c+1
    print()
    r=r-1

*
**
***
****
*****
****
***
**
*

In [2]:
r=1
while r<=5:
    c=1
    p=r
    while c<=r:
        print(p,end="")
        p=p+1
        c=c+1
    print()
    r=r+1

1
23
345
4567
56789

In [5]:
r=1
p=1
while r<=5:
    c=1
    while c<=r:
        print(p,end=" ")
        p=p+1
        c=c+1
    print()
    r=r+1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
r=1
while r<=5:
    c=r
    while c>=1:
        print(c,end=" ")
        c=c-1
    print()
    r=r+1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [10]:
r=1
while r<=5:
    c=1
    while c<=5:
        print((chr(ord("A")+c-1)),end="")
        c=c+1
    print()    
        
    r=r+1

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [11]:
r=1
while r<=5:
    c=1
    while c<=5:
        print((chr(ord("A")+r-1)),end="")
        c=c+1
    print()
    r=r+1

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [12]:
r=1
while r<=5:
    c=1
    while c<=r:
        print((chr(ord("A")+r-1)),end="")
        c=c+1
    print()
    r=r+1

A
BB
CCC
DDDD
EEEEE

In [13]:
r=1
while r<=5:
    c=1
    while c<=r:
        print((chr(ord("A")+c-1)),end="")
        c=c+1
    print()
    r=r+1

A
AB
ABC
ABCD
ABCDE

In [16]:
r=5
while r>=1:
    c=1
    while c<=r:
        print((chr(ord("A")+r-1)),end="")
        c=c+1
    print()    
    r=r-1

EEEEE
DDDD
CCC
BB
A

In [4]:
print(1)
r=1
while r<=5:
    c=1
    while c<=r+1:
        if c==1 or c==r+1:
            print(r,end="")
        else:
            print(0,end="")
        c=c+1
    print()
    r=r+1

1
11
202
3003
40004
500005

In [5]:
print(1)
r=1
while r<=5:
    c=1
    while c<=r+1:
        if c==1 or c==r+1:
            print(1,end="")
        else:
            print(2,end="")
        c=c+1
    print()
    r=r+1

1
11
121
1221
12221
122221

In [7]:
n=int(input())
r=1
while r<=n:
    spaces=1
    while spaces<=n-r:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=r:
        print("*",end="")
        c=c+1
    print()
    r=r+1

5
    *
   **
  ***
 ****
*****

In [8]:
n=int(input())
r=1
while r<=n:
    spaces=1
    while spaces<=n-r:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=r:
        print(r,end="")
        c=c+1
    print()
    r=r+1

5
    1
   22
  333
 4444
55555

In [10]:
n=int(input())
r=1
while r<=n:
    spaces=1
    while spaces<=n-r:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=r:
        print(c,end="")
        c=c+1
    print()
    r=r+1

5
    1
   12
  123
 1234
12345

In [12]:
n=int(input())
r=1
while r<=n:
    spaces=1
    while spaces<=n-r:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=r:
        print(c,end="")
        c=c+1
    p=r-1
    while p>=1:
        print(p,end="")
        p=p-1
    print()
    r=r+1

5
    1
   121
  12321
 1234321
123454321

In [13]:
n=int(input())
n1=(n+1)/2
n2=(n-1)/2
r=1
while r<=n1:
    spaces=1
    while spaces<=n1-r:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=2*r-1:
        print("*",end="")
        c=c+1
    print()
    r=r+1

5
  *
 ***
*****

In [4]:
n=int(input())
n1=(n+1)/2
n2=(n-1)/2
r=1
while r<=n1:
    spaces=1
    while spaces<=n1-r:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=2*r-1:
        print("*",end="")
        c=c+1
    print()
    r=r+1
r=n2
while r>=1:
    spaces=1
    while spaces<=n2-r+1:
        print(" ",end="")
        spaces=spaces+1
    c=1
    while c<=2*r-1:
        print("*",end="")
        c=c+1
    print()
    r=r-1

7
   *
  ***
 *****
*******
 *****
  ***
   *

In [5]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b=[1,2.4,"chitkara"]
print(b)
print(b[2])

[1, 2.4, 'chitkara']
chitkara

In [7]:
b=[1,2.4,"chitkara"]
print(b)
print(b[-1])

[1, 2.4, 'chitkara']
chitkara

In [8]:
x=[[1,2,3],[4,5,6]]
print(x[0])
print(x[0][0])

[1, 2, 3]
1

In [10]:
fruits=["apple","banana","kiwi","mango"]
for i in fruits:
    print("i got a",i,"for 500")

i got a apple for 500
i got a banana for 500
i got a kiwi for 500
i got a mango for 500

In [13]:
for i in range(1,11):
    print((i*2),end=" ")

2 4 6 8 10 12 14 16 18 20

In [14]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [39]:
for n in range(1,11):
    print("_________________________________________")
    for i in range(1,11):
        
        print("|",n*i,end=" ")
        
        #print("|",end=" ")    
    print()    
    print("_____________________________________________")

_________________________________________
| 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10
_____________________________________________
_________________________________________
| 2 | 4 | 6 | 8 | 10 | 12 | 14 | 16 | 18 | 20
_____________________________________________
_________________________________________
| 3 | 6 | 9 | 12 | 15 | 18 | 21 | 24 | 27 | 30
_____________________________________________
_________________________________________
| 4 | 8 | 12 | 16 | 20 | 24 | 28 | 32 | 36 | 40
_____________________________________________
_________________________________________
| 5 | 10 | 15 | 20 | 25 | 30 | 35 | 40 | 45 | 50
_____________________________________________
_________________________________________
| 6 | 12 | 18 | 24 | 30 | 36 | 42 | 48 | 54 | 60
_____________________________________________
_________________________________________
| 7 | 14 | 21 | 28 | 35 | 42 | 49 | 56 | 63 | 70
_____________________________________________
_________________________________________
| 8 | 16 | 24 | 32 | 40 | 48 | 56 | 64 | 72 | 80
_____________________________________________
_________________________________________
| 9 | 18 | 27 | 36 | 45 | 54 | 63 | 72 | 81 | 90
_____________________________________________
_________________________________________
| 10 | 20 | 30 | 40 | 50 | 60 | 70 | 80 | 90 | 100
_____________________________________________

In [42]:
for n in range(5,101):
    for i in range(1,11):
        print(n*i,end=" ")
    print()

5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
11 22 33 44 55 66 77 88 99 110
12 24 36 48 60 72 84 96 108 120
13 26 39 52 65 78 91 104 117 130
14 28 42 56 70 84 98 112 126 140
15 30 45 60 75 90 105 120 135 150
16 32 48 64 80 96 112 128 144 160
17 34 51 68 85 102 119 136 153 170
18 36 54 72 90 108 126 144 162 180
19 38 57 76 95 114 133 152 171 190
20 40 60 80 100 120 140 160 180 200
21 42 63 84 105 126 147 168 189 210
22 44 66 88 110 132 154 176 198 220
23 46 69 92 115 138 161 184 207 230
24 48 72 96 120 144 168 192 216 240
25 50 75 100 125 150 175 200 225 250
26 52 78 104 130 156 182 208 234 260
27 54 81 108 135 162 189 216 243 270
28 56 84 112 140 168 196 224 252 280
29 58 87 116 145 174 203 232 261 290
30 60 90 120 150 180 210 240 270 300
31 62 93 124 155 186 217 248 279 310
32 64 96 128 160 192 224 256 288 320
33 66 99 132 165 198 231 264 297 330
34 68 102 136 170 204 238 272 306 340
35 70 105 140 175 210 245 280 315 350
36 72 108 144 180 216 252 288 324 360
37 74 111 148 185 222 259 296 333 370
38 76 114 152 190 228 266 304 342 380
39 78 117 156 195 234 273 312 351 390
40 80 120 160 200 240 280 320 360 400
41 82 123 164 205 246 287 328 369 410
42 84 126 168 210 252 294 336 378 420
43 86 129 172 215 258 301 344 387 430
44 88 132 176 220 264 308 352 396 440
45 90 135 180 225 270 315 360 405 450
46 92 138 184 230 276 322 368 414 460
47 94 141 188 235 282 329 376 423 470
48 96 144 192 240 288 336 384 432 480
49 98 147 196 245 294 343 392 441 490
50 100 150 200 250 300 350 400 450 500
51 102 153 204 255 306 357 408 459 510
52 104 156 208 260 312 364 416 468 520
53 106 159 212 265 318 371 424 477 530
54 108 162 216 270 324 378 432 486 540
55 110 165 220 275 330 385 440 495 550
56 112 168 224 280 336 392 448 504 560
57 114 171 228 285 342 399 456 513 570
58 116 174 232 290 348 406 464 522 580
59 118 177 236 295 354 413 472 531 590
60 120 180 240 300 360 420 480 540 600
61 122 183 244 305 366 427 488 549 610
62 124 186 248 310 372 434 496 558 620
63 126 189 252 315 378 441 504 567 630
64 128 192 256 320 384 448 512 576 640
65 130 195 260 325 390 455 520 585 650
66 132 198 264 330 396 462 528 594 660
67 134 201 268 335 402 469 536 603 670
68 136 204 272 340 408 476 544 612 680
69 138 207 276 345 414 483 552 621 690
70 140 210 280 350 420 490 560 630 700
71 142 213 284 355 426 497 568 639 710
72 144 216 288 360 432 504 576 648 720
73 146 219 292 365 438 511 584 657 730
74 148 222 296 370 444 518 592 666 740
75 150 225 300 375 450 525 600 675 750
76 152 228 304 380 456 532 608 684 760
77 154 231 308 385 462 539 616 693 770
78 156 234 312 390 468 546 624 702 780
79 158 237 316 395 474 553 632 711 790
80 160 240 320 400 480 560 640 720 800
81 162 243 324 405 486 567 648 729 810
82 164 246 328 410 492 574 656 738 820
83 166 249 332 415 498 581 664 747 830
84 168 252 336 420 504 588 672 756 840
85 170 255 340 425 510 595 680 765 850
86 172 258 344 430 516 602 688 774 860
87 174 261 348 435 522 609 696 783 870
88 176 264 352 440 528 616 704 792 880
89 178 267 356 445 534 623 712 801 890
90 180 270 360 450 540 630 720 810 900
91 182 273 364 455 546 637 728 819 910
92 184 276 368 460 552 644 736 828 920
93 186 279 372 465 558 651 744 837 930
94 188 282 376 470 564 658 752 846 940
95 190 285 380 475 570 665 760 855 950
96 192 288 384 480 576 672 768 864 960
97 194 291 388 485 582 679 776 873 970
98 196 294 392 490 588 686 784 882 980
99 198 297 396 495 594 693 792 891 990
100 200 300 400 500 600 700 800 900 1000

In [43]:
for n in range(1,6):
    for i in range(1,n+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [45]:
for r in range(1,6):
    for s in range(1,6-r+1):
        print(" ",end="")
    for n in range(1,r+1):
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

In [60]:
n=int(input())
for r in range(n,0,-1):
    for c in range (1,r+1):
        print("*",end="")
    print()

5
*****
****
***
**
*

In [49]:
for r in range(6,0,-1):
    for c in range(1,7):
        if r%2==0:
            print(1,end=" ")
        else:    
            print(0,end=" ")
    print()

1 1 1 1 1 1
0 0 0 0 0 0
1 1 1 1 1 1
0 0 0 0 0 0
1 1 1 1 1 1
0 0 0 0 0 0

In [59]:
n=int(input())
for r in range(n,0,-1):
    for c in range(1,r+1):
        if r%2==0:
            print(1,end=" ")
        else:    
            print(0,end=" ")
    print()

6
1 1 1 1 1 1
0 0 0 0 0
1 1 1 1
0 0 0
1 1
0

In [58]:
n=int(input())
for r in range(n,-1,-1):
    for c in range(0,r):
        if (r+c)%2==0:
            print(1,end=" ")
        else:
            print(0,end=" ")
    print()

6
1 0 1 0 1 0
0 1 0 1 0
1 0 1 0
0 1 0
1 0
0

In [68]:
n=int(input())
for r in range (n,0,-1):
    for c in range(r,0,-1):
        print(c,end=" ")
    print()

6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [72]:
n=int(input())
for r in range(1,n+1):
    for c in range(r,n+1):
        print(c,end=" ")
    print()

6
1 2 3 4 5 6
2 3 4 5 6
3 4 5 6
4 5 6
5 6
6

In [76]:
n=int(input())
for r in range(1,n+1):
    for s in range(1,r):
        print(" ",end=" ")
    for c in range (r,n+1):
        print(c,end=" ")
    print()

6
1 2 3 4 5 6
  2 3 4 5 6
    3 4 5 6
      4 5 6
        5 6
          6

In [78]:
n=int(input())
for r in range(n,0,-1):
    for s in range(1,r+1):
        print(" ",end=" ")
    for c in range(r,n+1):
        print(c,end=" ")
    print()

6
            6
          5 6
        4 5 6
      3 4 5 6
    2 3 4 5 6
  1 2 3 4 5 6

In [82]:
i=1
while i<5:
    if i == 3:
        break
    print(i,end=" ")
    i = i + 1
else:
    print("Else is also printed")

1 2

In [83]:
n=int(input())
for i in range(1,n+1):
	for s in range(0,i-1):
			print(" ", end="")
	for j in range(i,n+1):
			print(j, end="")
	print()
for i in range(1,n):
	for s in range(1,n-i):
			print(" ", end="")
	for p in range(n-i,n+1):
			print(p, end="")
	print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [85]:
N=int(input())
n=N//2+1
a=n-1
for i in range(1,n+1):
    for s in range (n-i,0,-1):
        print(" ",end="")
    for j in range (0,2*i-1):
        print("*",end="")
    print()
for i in range (a,0,-1):
    for s in range (0,a-i+1):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("*",end="")
    print()

7
   *
  ***
 *****
*******
 *****
  ***
   *

In [86]:
n=int(input())
for i in range(1,n+1):
    a=n
    for j in range (1,i):
        print(a,end="")
        a=a-1
    for j in range (1,(2*n)-(2*i)+2):
        print(n-i+1,end="")
    for j in range(1,i):
        a=a+1
        print(a,end="")
    print()
for i in range(n-1,0,-1):
    a=n
    for j in range(1,i):
        print(a,end="")
        a=a-1
    for j in range (1,(2*n)-(2*i)+2):
        print(n-i+1,end="")
    for j in range(1,i):
        a=a+1
        print(a,end="")
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [87]:
n=int(input())
even=0
odd=0
if n%2==0:
    even=n-1
else:
    odd=n-2
for i in range (0,n,2):
    for j in range (i*n+1,n+(i*n+1)):
        print(j,end=" ")
    print()
for i in range (even+odd,0,-2):
    for j in range(i*n+1,n+(i*n+1)):
     	print(j,end=" ")
    print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

In [1]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [2]:
for i in range(1,6):
    for s in range(1,6-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

     1
    12
   123
  1234
 12345

In [3]:
for i in range(1,6):
    for s in range(1,6-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

In [7]:
for i in range(1,6):
    for c in range(1,6-i+1):
        print("*",end="")
    print()

*****
****
***
**
*

In [10]:
for i in range(1,6):
    for c in range(1,6-i+1):
        print(c,end="")
    print()

12345
1234
123
12
1

In [17]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+2):
        if i%2==0:
            print(0,end="")
        else:
            print(1,end="")
    print()

6
111111
00000
1111
000
11
0

In [18]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+2):
        if i%2==0:
            print(0,end="")
        else:
            print(1,end="")
    print()

5
11111
0000
111
00
1

In [21]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+2):
        if ((i+j)%2==0):
            print(1,end="")
        else:
            print(0,end="")
    print()

6
101010
01010
1010
010
10
0

In [22]:
n=int(input())
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j,end="")
    print()

6
123456
23456
3456
456
56
6

In [23]:
n=int(input())
for i in range(1,n+1):
    for s in range(1,i):
        print(" ",end="")
    for j in range(i,n+1):
        print(j,end="")
    print()

6
123456
 23456
  3456
   456
    56
     6

In [24]:
n=int(input())
for i in range(n,0,-1):
    for s in range(1,i):
        print(" ",end="")
    for j in range(i,n+1):
        print(j,end="")
    print()

6
     6
    56
   456
  3456
 23456
123456

In [27]:
for i in range(97,123):
    print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [28]:
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(65+j-1),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [30]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(chr(65+j-1),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [5]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(chr(65+i-1),end=" ")
    print()

E E E E E
D D D D
C C C
B B
A

In [7]:
for r in range(5,0,-1):
    for c in range(1,r+1):
        print(chr(ord("E")-r+1),end=" ")
    print()

A A A A A
B B B B
C C C
D D
E

In [2]:
#HCF
x=int(input())
y=int(input())
i=1
while i<=x and i<=y:
    if x%i==0 and y%i==0:
        HCF=i
    i=i+1   
print (HCF)

4
2
2

In [3]:
#LCM
x=int(input())
y=int(input())
i=1
while i<=x and i<=y:
    if x%i==0 and y%i==0:
        HCF=i
    i=i+1 
    LCM=(x*y//HCF)
print (LCM)

6
4
12

In [11]:
str="CHITKARA"
l=len(str)
for r in range(l,-1,-1):
    for c in range(0,r):          #range of str always start from 0
        print(str[c],end=" ")
    print()

C H I T K A R A
C H I T K A R
C H I T K A
C H I T K
C H I T
C H I
C H
C

In [13]:
str="CHITKARA"
l=len(str)
for r in range(1,l+1):
    for c in range(0,r):
        print(str[c],end=" ")
    print()

C
C H
C H I
C H I T
C H I T K
C H I T K A
C H I T K A R
C H I T K A R A

In [17]:
str="CHITKARA"
l=len(str)
for r in range(1,l+1):
    for c in range(0,r):
        print(str[c],end=" ")
    print()
str="CHITKAR"
l=len(str)
for r in range(l,-1,-1):
    for c in range(0,r):
        print(str[c],end=" ")
    print()

C
C H
C H I
C H I T
C H I T K
C H I T K A
C H I T K A R
C H I T K A R A
C H I T K A R
C H I T K A
C H I T K
C H I T
C H I
C H
C

In [18]:
n=int(input())
for r in range(1,n+1):
    for s in range(1,n-r+1):
        print(" ",end=" ")
    for i in range(1,r+1):
        print("*",end=" ")
    print()

5
        *
      * *
    * * *
  * * * *
* * * * *

In [20]:
n=int(input())
for r in range(1,n+1):
    for s in range(1,n-r+1):
        print(" ",end=" ")
    for a in range(1,r+1):
        print("*",end=" ")
    for a in range(0,r-1):
        print("*",end=" ")
    print()

8
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [4]:
n=int(input())
for r in range(1,n+1):
    for s in range(1,n-r+1):
        print(" ",end=" ")
    for a in range(1,2*r-1+1):
        print("*",end=" ")
    
    print()

8
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *