In [2]:
bool(123)

True

In [3]:
bool(324)

True

In [4]:
bool(0)

False

In [5]:
bool(-234)

True

In [9]:
var1=100
var2=200
if var1<var2:
    var3=1
else:
    var3=0
print(var3)

1

In [10]:
"asd">"ase"

False

In [11]:
"a"<"b"

True

In [12]:
"a"<"A"

False

In [14]:
0/1

0.0

In [15]:
var1=100
var2=0
if var1>var2:
    if var2==0:
        var2=var1
    else:
        var2+=1  # var2=var2+1
else:
    if var1==0:
        var1=var2
    else:
        var1+=1

In [19]:
print(var1)

100

In [13]:
st=input()
age=input()
print("Hello Mr.{},ur age is{}years."format(st,age))

SyntaxError: invalid syntax (<ipython-input-13-947b10f1b54a>, line 3)

In [7]:
var1=100
var2=200
if var1>var2:
    if var2==0:
        var2=var1
    else:
        var2+=1  # var2=var2+1
else:
    if var1==0:
        var1=var2
    else:
        var1+=1

In [9]:
var2

200

In [10]:
var1

101

In [16]:
st=input()
age=input()
print("Hello Mr.{},ur age is{}years".format(st,age))

raj
23
Hello Mr.raj,ur age is23years

In [1]:
print("this is my {fname}".format(fname="raj"))

this is my raj

In [1]:
print("the value is:{:.3f}".format(40))

the value is:40.000

In [4]:
print("the value is:{:12.3f}".format(40))

the value is:      40.000

In [5]:
num1=123
num2=34
num1+num2

157

In [7]:
num1=123
num2="456"
print(type(num1))
print(type(num2))
x=num1+float(num2)
x

<class 'int'>
<class 'str'>

579.0

In [8]:
s="10010"
c=int(s)
print("harman")
print(c,type(c))
e=float(s)
print("navreet")
print(e,type(e))

harman
10010 <class 'int'>
navreet
10010.0 <class 'float'>

In [2]:
n=5
if n<6:
    print("hi")
if n==5:
    print("hello")
else:    
    print("hey")

hi
hello

In [3]:
st="raj"
age=42
print("my name is {},i m {} years old.".format(st,age))

my name is raj,i m 42 years old.

In [4]:
st="raj"
age=42
print("my name is {names},i m {year} years old.".format(names=st,year=age))

my name is raj,i m 42 years old.

In [6]:

print("my name is {0},i m {1} years old.i m a {2}".format("raj",42,"teacher"))

my name is raj,i m 42 years old.i m a teacher

In [7]:
print("my name is {ft},i m {tf} years old.".format(ft="raj",tf=41))

my name is raj,i m 41 years old.

In [8]:
print("my name is {ft},i m {tf} years old.".format(tf="raj",ft=41))

my name is 41,i m raj years old.

In [9]:
print("value={:f}".format(90))

value=90.000000

In [10]:
print("{:f}".format(90))

90.000000

In [21]:
print("the value is {:.2f}".format(90))

the value is 90.00

In [13]:
print("the value is {:.3f}".format(40))

the value is 40.000

In [15]:
print("the value is {:15.3f}".format(90))

the value is          90.000

In [17]:
print("the value is {:12.3f}".format(90))

the value is       90.000

In [18]:
print("the value is {:8.3f}".format(90))

the value is   90.000

In [19]:
print("the value is {:8.6f}".format(90))

the value is 90.000000

In [22]:
print("the value is {:n}".format(90.00))

the value is 90

In [29]:
print("the value is {:n}".format(90.45))

the value is 90.45

In [28]:
print("the value is {:10n}".format(500.000))

the value is        500

In [30]:
print("the value is {:%}".format(0.80))

the value is 80.000000%

In [33]:
print("{:,}".format(1000000000))

1,000,000,000

In [34]:
print("{:+}".format(40))

+40

In [37]:
print("{:-}".format(-40))

-40

In [45]:
print("{:8}".format(40))

      40

In [46]:
print("{:10}".format(40))

        40

In [49]:
print("the value {:^10} is positive value".format(40))

the value     40     is positive value

In [50]:
print("the value {:^6} is positive value.".format(40))

the value   40   is positive value.

In [52]:
print("the value {:<6} is positive value.".format(40))

the value 40     is positive value.

In [53]:
print("the value {:>6} is positive value.".format(40))

the value     40 is positive value.

In [1]:
i=1
while(i<=5):
    print("chitkara university")
    i+=1

chitkara university
chitkara university
chitkara university
chitkara university
chitkara university

### Ques.: Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [1]:
n=int(input())
a=n%10
if a%3==0:
    print(n,"is divisible by 3")
else:
    print(n,"is not divisible by 3")

2345
2345 is not divisible by 3

In [2]:
n=int(input())
a=n%10
if a%3==0:
    print(" the number {} is divisible by 3. ".format(n))

789
 the number 789 is divisible by 3.

### Ques.:Write a program to whether a number (accepted from user) is divisible by 2 and 3 both.

In [7]:
n=int(input())
if (n%2==0) and (n%3==0):
    print("the number {} is divisible 2 and 3 both.".format(n))
else:
    print("the number {} is  not divisible .".format(n))

24
the number 24 is divisible 2 and 3 both.

### Question: Write a program to check a character is vowel or not.

In [10]:
a=input("character:")
v="aeiouAEIOU"
if (a in v):
    print("character {} is a vowel.".format(a))
else:
    print("character {} is not a vowel.".format(a))

character:A
character A is a vowel.

In [11]:
a=455667
print(len(a))

TypeError: object of type 'int' has no len()

In [12]:
a=455567
print(len(int(a)))

TypeError: object of type 'int' has no len()

In [13]:
a=45567
print(len(str(a)))

5

In [14]:
a="harman"
print(len(a))

6

In [15]:
a="45678"
print(len(a))

5

### what is automorphic
### An n-digit number is said to be automorphic if the last n digits of its square are the   same as the original number. For instance, 5^2 = 25, 6^2 = 36, 25^2 = 625, 76^2 = 5776 and many others.

In [3]:
n=int(input())
l=len(str(n))
s=n**2             #s is square of number n.
d=s%10**l          #d is last n digits of square of number n.   
if d==n:
    print("{} is automorphic.".format(n))
else:
    print("{} is not automorphic.".format(n))

76
76 is automorphic.

### Question: Input a number and check whether the thousands place digit is odd or even

In [4]:
n=int(input())
r=n%10000          #r gives us last 4 digits of given number.
s=r//1000          #s gives us fourth digit of given number.
if s%2==0:
    print(" thousand place of {} is even".format(n))
else:
    print("thousand place of {} is odd".format(n))

23456789
 thousand place of 23456789 is even

In [5]:
# Convert ASCII value to characters
a = chr(65)
b = chr(77)
c=chr(91)
 
print(a)
print(b)
print(c)

A
M
[

#### Question: Write a program that checks whether the number is divisible by 16 or not. Program checks the divisibility by 16 considering following rule: If the thousands place digit is even, take the last three digits. If the thousands place digit is odd, add 8 to the last three digits. With this 3-digit multiply hundreds place digit by 4, then add it to the last two digits. If the resulting number is divisible by 16, the given number is divisible by 16 otherwise not.

##### For Example: If the number is 254176, the thousand digit is 4(Even) so take176 , (1 × 4) + 76 = 80 (Divisible by 16) If the number is 693408, the thousand digit is 3(odd) so take 408+8 =416, (4 x 4) + 16 = 32 (Divisible by 16)

In [12]:
n=int(input())
r=n%10000          #r gives us last 4 digits of given number.
s=r//1000          #s gives us fourth(thousandth) digit of given number.
l3=n%1000          #l3 gives last 3 digits of number n.
h=l3//100          #h gives us third (hundredth) digit of n.
l2=n%100           #l2 gives last 2 digits of number n.
e=l3+8
f=e%1000           #f gives last 3 digits of e.
g=f//100           #g gives third (hundredth) digit of e.
e2=e%100           #e2 gives last 2 digits of e.
if s%2==0:
    if (h*4+l2)%16==0:
        print(n,"is divisible by 16")
    else:
        print("not divisible")
else:
    if (h*4+e2)%16==0:
        print(n,"is  divisible by 16.")
    else:
        print("not divisible")

693408
693408 is  divisible by 16.

### Question: Given the coordinates (x,y) of a center of a circle and its radius, write a program  which will determine whether a point lies inside the circle, on the circle or outside the circle.

In [5]:
x=2
y=3
r=4
x1=int(input())
y1=int(input())
d=((x1-x)**2+(y1-y)**2)**0.5
if d>r:
    print("({}, {}) lies outside circle.".format(x1,y1))
elif d==r:
    print("({},{}) lies on circle.".format(x1,y1))
else:
    print("({},{}) lies inside circle".format(x1,y1))

0
0
(0,0) lies inside circle

#### Write a Python program which accepts a character and checks whether it is in small case or capital case. Also display its reverse case (i.e. if inputted character is ‘a’, program should display ‘A’).

In [6]:
n=input()
if (n.isupper()):
    print(n,"is in uppercase.")
elif (n.islower()):
    print(n,"is in lowercase.")
else:
    print(n,"is neither upper nor lower.")

E
E is in uppercase.

#### Accept the percentage from the user and display the grade according to the following criteria:

Below 25 —- D
25 to 45 —- C
45 to 50 —- B
50 to 60 –– B+
60 to 80 — A
Above 80 –- A+

In [8]:
n=int(input())
if n<25:
    print("D")
elif n>=25 and n<=45:
    print("C")
elif n>45 and n<=50:
    print("B")
elif n>50 and n<=60:
    print("B+")
elif n>60 and n<=80:
    print("A")
else:
    print("A+")

25
C

 A company decided to give bonus to employee according to following criteria:

Time period of Service                Bonus

More than 10 years             10%

>=6 and <=10                   8%

Less than 6 years              5%

Ask user for their salary and years of service and print the net bonus amount.

In [1]:
s=int(input("salary:"))
y=int(input("years:"))
if y>=10:
    print("bonus=", 0.1*s)
elif y>=6 and y<=10:
    print("bonus=", 0.08*s)
elif y<6:
    print("bonus=", 0.05*s)

salary:300
years:3
bonus= 15.0

Accept the marked price from the user and calculate the Net amount as(Marked Price – Discount) to pay according to following criteria:

Marked Price Discount

10000 20%,
7000 and <=10000 15% ,
<=7000 10%

In [3]:
m=int(input("marked price:"))
if m==10000:
    n=0.8*m
if m>7000 and m<10000:
    n=0.85*m
if m<=7000:
    n=0.90*m
print(n)

marked price:10000
8000.0

In [2]:
a=1
b=1
i=0
n=int(input())

while(i<n):
    c=a+b
    a=b
    b=c
    i=i+1
print(a)

5
8