### CREATING DICTIONARY

In [1]:
Dict={"name":"Tom","Age":23,"Salary":50000}

In [2]:
print(Dict)

{'name': 'Tom', 'Age': 23, 'Salary': 50000}

In [3]:
type(Dict)

dict

In [4]:
p={}
p["name"]=input("enter name:")
p["age"]=input("enter age:")

enter name:
enter age:

In [5]:
print(p)

{'name': '', 'age': ''}

In [6]:
print(type(p))

<class 'dict'>

### ACCESSING VALUES IN DICTIONARY

In [7]:
employee={"name":"john","age":29,"salary":25000,"company":"google"}

In [8]:
print(employee)

{'name': 'john', 'age': 29, 'salary': 25000, 'company': 'google'}

In [9]:
print(employee["name"])

john

In [10]:
print(employee["company"],employee["salary"])

google 25000

### DUPLICATES NOT ALLOWED
If key appears more than one time,only last will be retained.
One value can be assigned to more than one key.

In [11]:
thisdict={
    "brand":"ford",
    "model":"ford",
    "model":"abc",
    "year":1964,
    "year":2000
}

In [12]:
print(thisdict)

{'brand': 'ford', 'model': 'abc', 'year': 2000}

In [13]:
p={}
print(p)

{}

### LIST AS DICTIONARY VALUE

In [14]:
d={"fruit":["mango","apple","kiwi"],"colour":["blue","red"],"names":"harman"}

In [15]:
print(d)

{'fruit': ['mango', 'apple', 'kiwi'], 'colour': ['blue', 'red'], 'names': 'harman'}

In [16]:
print(d["fruit"])

['mango', 'apple', 'kiwi']

In [17]:
print(d["names"])

harman

### CREATING LIST BY DICT() CONSTRUCTOR METHOD

In [18]:
employee=dict(name="john",age=29,salary=25000,company="google")

In [19]:
print(employee)

{'name': 'john', 'age': 29, 'salary': 25000, 'company': 'google'}

### BUILDING A DICTIONARY INCREMENTALLY

In [20]:
d={"name":"suresh"}

In [21]:
print(d)

{'name': 'suresh'}

In [22]:
d["fname"]="gopal"

In [23]:
print(d)

{'name': 'suresh', 'fname': 'gopal'}

In [24]:
d["city"]="rajpura"

In [25]:
print(d)

{'name': 'suresh', 'fname': 'gopal', 'city': 'rajpura'}

In [26]:
d["city"]="mohali"

In [27]:
print(d)

{'name': 'suresh', 'fname': 'gopal', 'city': 'mohali'}

In [28]:
del d["city"]

In [29]:
print(d)

{'name': 'suresh', 'fname': 'gopal'}

In [30]:
d.clear()

In [31]:
print(d)

{}

In [32]:
person={}
person["fname"]="ramesh"
person["lname"]="kumar"
person["age"]=29
person["spouse"]="sunita"
person["children"]=["vivek","mohan","gopal"]   #inserting list in dictionary
person["pets"]={"dog":"sheru","cat":"moo"}     #inserting dictionary in dictionary

In [33]:
print(person)

{'fname': 'ramesh', 'lname': 'kumar', 'age': 29, 'spouse': 'sunita', 'children': ['vivek', 'mohan', 'gopal'], 'pets': {'dog': 'sheru', 'cat': 'moo'}}

### UPDATING DICTIONARY

In [34]:
dict={"name":"zara","age":7,"class":"first"}
dict["age"]=8    #updating existing entry     
dict["school"]="DPS School"     #adding new entry
print("dict['age']:",dict["age"])
print("dict['school']:",dict["school"])
print(dict)

dict['age']: 8
dict['school']: DPS School
{'name': 'zara', 'age': 8, 'class': 'first', 'school': 'DPS School'}

### DELETE DICTIONARY ELEMENTS

In [35]:
dict={"name":"zara","age":7,"class":"first","school":"DPS School"}
print(dict)

{'name': 'zara', 'age': 7, 'class': 'first', 'school': 'DPS School'}

In [36]:
dict={"name":"zara","age":7,"class":"first","school":"DPS School"}
del dict["name"]   #remove entry with key "name"
print(dict)

{'age': 7, 'class': 'first', 'school': 'DPS School'}

In [37]:
dict={"name":"zara","age":7,"class":"first","school":"DPS School"}
dict.clear()      #remove all entries in dictionary
print (dict)

{}

In [38]:
dict={"name":"zara","age":7,"class":"first","school":"DPS School"}
del dict    #delete entire dictionary
print(dict)

<class 'dict'>

### ITERATING DICTIONARY

In [39]:
employee={"name":"john","age":29,"salary":25000,"company":"google"}

In [40]:
print(employee.keys())

dict_keys(['name', 'age', 'salary', 'company'])

In [41]:
print(employee.values())

dict_values(['john', 29, 25000, 'google'])

In [42]:
print(employee.items())

dict_items([('name', 'john'), ('age', 29), ('salary', 25000), ('company', 'google')])

In [43]:
#for loop to print all keys of dictionary
for x in employee:
    print(x)

name
age
salary
company

In [44]:
#for loop to print all values of dictionary
for x in employee:
    print(employee[x])

john
29
25000
google

In [45]:
#for loop to print values of dictionary by using values() method
for x in employee.values():
    print(x)

john
29
25000
google

In [46]:
#for loop to print items of dictionary by using items() method
for x in employee.items():
    print(x)

('name', 'john')
('age', 29)
('salary', 25000)
('company', 'google')

In [47]:
#for loop to print items of dictionary by using items() method
for (x,y) in employee.items():
    print(x,y)

name john
age 29
salary 25000
company google

### CODING NINZA

In [48]:
a={"the":1,"a":5,1000:"abc"}
type(a)

dict

In [49]:
print(a)

{'the': 1, 'a': 5, 1000: 'abc'}

In [50]:
len(a)

3

In [51]:
b=a.copy()
b

{'the': 1, 'a': 5, 1000: 'abc'}

### creating dictionary by pairs

In [52]:
c=dict([("the",3),("a",10),(2,3)])
c

{'the': 3, 'a': 10, 2: 3}

### creating dictionary from keys

In [53]:
d=dict.fromkeys(["ab",32,4])
d

{'ab': None, 32: None, 4: None}

### accessing elements in dictionary

In [54]:
a={1:2,3:4,"list":[1,2,3],"dict":{1:2}}
a

{1: 2, 3: 4, 'list': [1, 2, 3], 'dict': {1: 2}}

In [55]:
a[0]       #there is no indexin in dictionary

KeyError: 0

In [ ]:
a[3]

In [56]:
a["list"]

[1, 2, 3]

In [57]:
a.get("list")

[1, 2, 3]

In [58]:
a.get("li")

In [59]:
print(a.get("li"))

None

In [60]:
a.get("li",0)

0

In [61]:
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [62]:
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 2, 3]), ('dict', {1: 2})])

In [63]:
a.values()

dict_values([2, 4, [1, 2, 3], {1: 2}])

In [64]:
for i in a:
    print(i)

1
3
list
dict

In [65]:
for i in a:
    print(i,a[i])

1 2
3 4
list [1, 2, 3]
dict {1: 2}

In [66]:
for i in a.values():
    print(i)

2
4
[1, 2, 3]
{1: 2}

In [67]:
"list" in a

True

In [68]:
"li" in a

False

In [69]:
2 in a

False

In [70]:
1 in a

True

In [71]:
d={1:2,"abc":5,"def":7}
print(d[0])

KeyError: 0

In [72]:
d={1:2,"abc":5,"def":7}
print(d.get(0,5))

5

In [73]:
d={1:2,"abc":5,"def":7}
if 2 in d:
    print("present")
else:
    print("not present")

not present

### adding/removing data in dictionary

In [74]:
a={1:2,3:4,"list":[1,23],"dict":{1,2}}
a["t"]={1,2,3}
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1, 2}, 't': {1, 2, 3}}

In [75]:
a[1]=10
a

{1: 10, 3: 4, 'list': [1, 23], 'dict': {1, 2}, 't': {1, 2, 3}}

In [76]:
b={3:5,"the":4,2:100}
a.update(b)
a

{1: 10,
 3: 5,
 'list': [1, 23],
 'dict': {1, 2},
 't': {1, 2, 3},
 'the': 4,
 2: 100}

In [77]:
a.pop()

TypeError: pop expected at least 1 argument, got 0

In [78]:
a.pop("t")

{1, 2, 3}

In [79]:
del a[1]
a

{3: 5, 'list': [1, 23], 'dict': {1, 2}, 'the': 4, 2: 100}

In [80]:
a.clear()
a

{}

In [81]:
del a
a

NameError: name 'a' is not defined

In [82]:
a={1:2,"list":[1,2],3:5}
b={4:5,3:7}
a.update(b)
print(a)
print(a[3])

{1: 2, 'list': [1, 2], 3: 7, 4: 5}
7

In [83]:
a={1:2,"list":[1,2],3:5}
a.pop("list")
print(a)
a["list"]=[3,5]
print(a["list"])

{1: 2, 3: 5}
[3, 5]

In [84]:
#print all words with frequency k
a="this is a word string having many many word"
words=a.split()      #words is a list
d={}
for w in words:
    if w in d:       
        d[w]=d[w]+1
    else:
        d[w]=1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [85]:
words

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [86]:
#print all words with frequency k
a="this is a word string having many many word"
words=a.split()      #words is a list
d={}
for w in words:
    d[w]=d.get(w,0)+1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [87]:
#print all words with frequency k
a="this is a word string having many many word"
words=a.split()      #words is a list
d={}
k=2
for w in words:
    d[w]=d.get(w,0)+1
for w in d:
    if d[w]==k:
        print(w)

word
many

In [88]:
#rename key "city" to "location" in following dictionary:
sampledict={
    "name":"kelly",
    "age":25,
    "salary":8000,
    "city":"new york"
}
x=sampledict.pop("city")   #x will give "value" of key city and will update it by removing "city"
sampledict["location"]=x   #this will insert new key'location' in sampledict with value x
print(sampledict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}

In [89]:
#sum of all values in dictionary
d={"a":10,"b":20,"c":50,"d":40,"e":50,"f":50,"g":50}
print(sum(d.values()))

270

In [91]:
#{1:1,2:4,3:9,4:16,.....,x:x*x}
n=int(input())
d={}
for x in range(1,n+1):
    d[x]=x*x     #it specifies that value of every key(x) in dict. is equal to x*x
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [92]:
#remove duplicates
d={"a":10,"b":20,"c":10,"d":40}
r={}
for k,v in d.items():
    if v not in r.values():
        r[k]=v
print(r)

{'a': 10, 'b': 20, 'd': 40}