In [1]:
def greeting():
    print("hello everyone.")

In [2]:
greeting()
greeting()

hello everyone.
hello everyone.

In [3]:
def greeting(name):
    print("hello mr.",name,"how are you")

In [4]:
greeting("ramesh")
greeting("suresh")
greeting("ram")
greeting("raj")

hello mr. ramesh how are you
hello mr. suresh how are you
hello mr. ram how are you
hello mr. raj how are you

In [5]:
def add(a,b):
    c=a+b
    print (c)

In [6]:
add(5,8)

13

In [7]:
add(76,89)

165

In [8]:
r=1
while r<=6:
    c=1
    while c<=r:
        print(c,end="")
        c=c+1
    print()  
    r=r+1

1
12
123
1234
12345
123456

In [9]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

6
1
12
123
1234
12345
123456

In [10]:
n=int(input())
n_fact=1
for i in range(1,n+1):
    n_fact=n_fact*i
print(n_fact)

6
720

In [11]:
n=int(input())
r=int(input())
n_fact=1
for i in range(1,n+1):
    n_fact=n_fact*i
r_fact=1
for j in range(1,r+1):
    r_fact=r_fact*j
n_r_fact=1
for s in range(1,n-r+1):
    n_r_fact=n_r_fact*s
ncr=n_fact//(r_fact*n_r_fact)
print(ncr)

6
2
15

## finding factorial by defining function

In [12]:
def fact(a):
    a_fact=1
    for i in range(1,a+1):
        a_fact=a_fact*i
    return a_fact

In [13]:
fact(6)

720

In [14]:
#finding ncr by defining function.
n=int(input())
r=int(input())
n_fact=fact(n)
r_fact=fact(r)
n_r_fact=fact(n-r)
ncr=n_fact//(r_fact*n_r_fact)
print(ncr)

6
2
15

In [15]:
n=int(input())
r=int(input())
ncr=fact(n)//(fact(r)*fact(n-r))
print(ncr)

6
2
15

In [16]:
#a no. is not prime if it is divisible by any number in range between 2 to one number less than the number itself. 
def isprime(n):
    for d in range(2,n): 
        if n%d==0:
            break
    else:
        return True
    return False

In [17]:
isprime(7)

True

In [18]:
isprime(2)

True

In [19]:
isprime(20)

False

In [20]:
def primefrom2toN(n):
    for k in range(2,n):
        is_k_prime=isprime(k)

In [21]:
def count(n):
    count=0
    while(n>0):
        count=count+1
        n=n//10
    return(count)

In [22]:
count(89897)

5

In [23]:
y=count(998567)

In [24]:
print(y)

6

In [25]:
def printstudent(name,roll,course):
    print("Name            :"+name)
    print("Roll number     :"+str(roll))   #here str is necessary to  write.
    print("Enrolled Course :"+course)

In [26]:
printstudent("Suresh",35,"BE")

Name            :Suresh
Roll number     :35
Enrolled Course :BE

In [27]:
printstudent(roll=35,name="Suresh",course="BE")

Name            :Suresh
Roll number     :35
Enrolled Course :BE

In [28]:
def add3num(a=50,b=20,c=30):
    print("Sum of three numbers :",a+b+c)

In [29]:
add3num()

Sum of three numbers : 100

In [30]:
add3num(50,60,70)

Sum of three numbers : 180

In [31]:
add3num(50,60)

Sum of three numbers : 140

In [32]:
add3num(50)

Sum of three numbers : 100

In [33]:
def greetguest(host,*guest):
    print("Hello Everyone, I am "+host+ " your host")
    for i in guest:
        print("Hello Mr." +i+" Welcome to Chitkara University")

In [34]:
greetguest("Ramesh","Suresh")

Hello Everyone, I am Ramesh your host
Hello Mr.Suresh Welcome to Chitkara University

In [35]:
greetguest("Raj","Ramesh","Suresh","Mohan","Gopal")

Hello Everyone, I am Raj your host
Hello Mr.Ramesh Welcome to Chitkara University
Hello Mr.Suresh Welcome to Chitkara University
Hello Mr.Mohan Welcome to Chitkara University
Hello Mr.Gopal Welcome to Chitkara University

In [36]:
def greetguest1(host, univ, *guest):
    print("Hello Everyone, I am "+host+ " your host")
    for i in guest:
        print("Hello Mr." +i+" Welcome to "+univ)

In [37]:
greetguest1("Raj","ABC University","Ramesh","Suresh","Mohan","Gopal")

Hello Everyone, I am Raj your host
Hello Mr.Ramesh Welcome to ABC University
Hello Mr.Suresh Welcome to ABC University
Hello Mr.Mohan Welcome to ABC University
Hello Mr.Gopal Welcome to ABC University

In [38]:
greetguest1("Ajay","Oxford University","Ramesh","Suresh","Mohan","Gopal")

Hello Everyone, I am Ajay your host
Hello Mr.Ramesh Welcome to Oxford University
Hello Mr.Suresh Welcome to Oxford University
Hello Mr.Mohan Welcome to Oxford University
Hello Mr.Gopal Welcome to Oxford University

In [39]:
def add(a,b):
    return(a+b)

In [40]:
print(add(10,20))

30

In [41]:
print(30)

30

In [42]:
print(add(10,add(20,30)))

60

In [43]:
def greetguest2(host, univ, *guest):
    for i in guest:
        print("Hello Mr." +i+" i am "+host+" Welcome to "+univ)

In [44]:
greetguest2("Raj", "Oxford University","suresh","Mohan")

Hello Mr.suresh i am Raj Welcome to Oxford University
Hello Mr.Mohan i am Raj Welcome to Oxford University

In [45]:
print(add(add(20,30),10))

60

In [46]:
print(add(add(10,20),add(30,40)))

100

In [47]:
a=10
b=20

In [48]:
print(str(10)+str(20))

1020

In [49]:
print(a,b)

10 20

In [50]:
def func(a):
    a = a + 10
    return a

In [51]:
func(5)      #return command simply returns output value of defined function to given function.

15

In [3]:
def func(a):
    a = a + 10
    return a
a=5
func(a)

15

In [15]:
def func(a):
    a = a + 10
    return a
a=5
func(a)     #value=15 ,i.e,output of function call has been returned to function itself.
print(a)    #now command to be executed  is print(a)

5

In [53]:
def func(a):
    a = a + 10
    return a
a=5
print(a)
func(a)

5

15

In [54]:
def square(a):
    ans  = a*a
    return  ans

a = 4
a = square(a)
print(a)

16

In [55]:
square(8)

64

In [56]:
def square(a):
    ans=a*a
    print(ans)

In [57]:
square(7)

49

In [58]:
def square(a):
    ans=a*a
    return(ans)

In [59]:
g=square(9)
print(g)

81

In [60]:
a1=10          #global variable
def f1():
    b2=12      #local variable
    
print(a1)    #we can access any global variable without any variable call

10

In [61]:
a1=10          #global variable
def f1():
    b2=12      #local variable
    
print(a1)    
print(b2)    #b2 is not gloabal variable

10

NameError: name 'b2' is not defined

In [62]:
a1=10          #global variable
def f1():
    b2=12      #local variable
    
print(a1)    
print(b2)    
f1()

10

NameError: name 'b2' is not defined

In [63]:
a1=10          #global variable
def f1():
    b2=12      #local variable
    
print(a1)    
   
f1()         #no doubt,we have called function,but hv not defined f1 properly by giving any command.
print(b2)

10

NameError: name 'b2' is not defined

In [64]:
a1=10          #global variable
def f1():
    b2=12      #local variable
    print(b2)
print(a1)    
                 #we have defined f1 and then called that function,so after printing a1,f1 will  be printed.
f1()

10
12

In [65]:
a1=10          #global variable
def f1():
    b2=12      #local variable
    print(b2)
    print(a1)      
print(a1)     # print command for global variable will be executed.
    
f1()            #here f1 is defined as print b2 and a1 also.

10
12
10

In [66]:
f1()

12
10

In [67]:
a=13
def f1():
    a=12
    print(a)
print(a)        #output of global variable
f1()            #output of function call,i.e,local varibale
print(a)        #output of global variable

13
12
13

In [68]:
a=13
def f1():
    a=12
    print(a)
    print(id(a))
print(a)     #output of gloabal variable.
f1()         #output of function call,i.e,a and its id of loacl variable
print(a)     #output of global variable
print(id(a)) #output of id of global variable

13
12
140732590401680
13
140732590401712

In [69]:
a=13
def f1():
    global a
    a=12
    print(a)
    print(id(a))
print(a)     #output of first gloabal variable.
f1()         #output of function call,i.e,a and its id of loacl variable
print(a)     #output of second global variable bcoz for local variable ,we need calling of function.
print(id(a)) #output of id of global variable

13
12
140732590401680
12
140732590401680

In [70]:
a=13
def f1():
    global a
    a=12
    print(a)
print(a)     #output of first gloabal variable.
f1()         #output of function call.
print(a)     #output of second global variable bcoz for local variable ,we need calling of function.

13
12
12

In [71]:
a=13
def f1():
    global a
    a=12
    
print(a)     #output of first gloabal variable.
f1()         #no specific output of this step,but for local variable to act as global variable ,we need function call.
print(a)     #output of second global variable bcoz for local variable ,we need calling of function.

13
12

In [72]:
a = 14
def f():
    a=12       #here its not specified that what we have to do with local variable a=12
f()
print(a)

14

In [73]:
a = 14
def f():
    a=12
    print(a)
    
f()
print(a)

12
14

In [74]:
a=14
def f():
    global a
    a=12
           
print(a)        #here simply global variable will be printed.

14

In [75]:
a=14
def f():
    global a
    a=12
f()           
print(a)        #this will give global variable as answer bcoz print command is given after function calling.

12

In [76]:
a = 14
def f():
    a = 12
    return a
a = f()
print(a)

12

In [77]:
def f(n):
    print(n)
f(1)

1

In [78]:
f(2,1)

TypeError: f() takes 1 positional argument but 2 were given

In [79]:
f()

TypeError: f() missing 1 required positional argument: 'n'

In [80]:
def sum(a,b):
    return a+b

def sum(a,b,c):
    return a+b+c

In [81]:
def sum(a,b,c=0):
    return a+b+c

In [82]:
sum(5,2)

7

In [83]:
sum(5,2,9)

16

In [84]:
def sum(a=0,b,c):       #put all non default arguments first nd then default ones.
    return a+b+c

SyntaxError: non-default argument follows default argument (<ipython-input-84-22de50ec33fd>, line 1)

In [85]:
def function(a,b,c=1):
    return a+b-c
value = function(10,12)
print(value)

21

In [86]:
def function(a,b,c=1):
    return a+b-c
value = function(10,12,5)
print(value)

17

In [87]:
def function(a,b,c=1,d=5):
    return a+b+c+d
value = function(1,2,d=7)
print(value)

11

In [89]:
def printTable(start,end,step):
    fvalue=start
    while (fvalue<=end):
        cvalue=int((5/9)*(fvalue-32))
        print(fvalue,end="\t")
        print(cvalue)
        fvalue=fvalue+step   
s = int(input())
e = int(input())
step = int(input())
printTable(s,e,step)

0
100
20
0	-17
20	-6
40	4
60	15
80	26
100	37

0 1 1 2 3 5....

In [90]:
#Fibonacci Member

def checkMember(n):
    if(n==0 or n==1 or n==2):
        return True
    a=0
    b=1
    
    while (b<n):
        c=a+b
        a=b
        b=c
    if(b==n):
        return True
    return False 

# driver Code
n=int(input())
if(checkMember(n)):
    print("true")
else:
    print("false")

5
true

In [91]:
#Palindrome number

def checkPalindrome(num):
    tamp=num
    rev=0
    while tamp!=0:
        rev=(rev*10)+(tamp%10)
        tamp=tamp//10
    if rev==num:
        return True
    else:
        return False
num = int(input())
isPalindrome = checkPalindrome(num)
if(isPalindrome):
	print('true')
else:
	print('false')

121
true

In [92]:
# Check Armstrong

## Read input as specified in the question.
## Print output as specified in the question.
def chekArmstrong(n):
    dig=0
    num=n
    while num>0:
        dig=dig+1
        num=num//10
    newn=0
    num=n
    while num>0:
        last=num%10
        newn=newn+(last**dig)
        num=num//10
    if newn==n:
        return True
    else:
        return False
n=int(input())
if (chekArmstrong(n)):
    print("true")
else:
    print("false")

121
false

Recusion means function calls itself 4!=43! =432! =4321! =432*1

In [93]:
# factorial of given number using Recursion 
def factorial(n): 
      
    return 1 if (n==1 or n==0) else n * factorial(n - 1);  
  
# function call
num = int(input())
print("Factorial of",num,"is", factorial(num))

4
Factorial of 4 is 24

In [94]:
def factorial(n):# n is called  as formal argument or formal parameters
    if n==0:
        result=1 
    elif n==1:
        result=1
    else:
        result=n*factorial(n-1)
    return result

#Call to function
    
num=int(input(" Enter the number to find its factorial:")) # num is called as actual argument or actaul parameter
print(" The factorial of ", num, "is" , factorial(num))

 Enter the number to find its factorial:4
 The factorial of  4 is 24

In [95]:
def func(a):
    a=a+10
    return a

In [96]:
a=5
func(a)
print(a)

5

In [97]:
a=5
print(a)
func(a)

5

15

In [98]:
#HCF
x=int(input())
y=int(input())
i=1
while i<=x and i<=y:
    if x%i==0 and y%i==0:
        HCF=i
    i=i+1   
print (HCF)

4
2
2

In [99]:
#LCM
x=int(input())
y=int(input())
i=1
while i<=x and i<=y:
    if x%i==0 and y%i==0:
        HCF=i
    i=i+1 
    LCM=(x*y//HCF)
print (LCM)

4
6
12

### fahrenheit to celcius conversion.

In [17]:
s=int(input())
e=int(input())
w=int(input())
while s<=e:
    c=(s-32)*5/9
    print(s,'    ',int(c))
    s=s+w
print()

0
100
20
0      -17
20      -6
40      4
60      15
80      26
100      37

In [15]:
def printTable(start,end,stepsize):
    while start<=end:
        c=((start-32)*5/9)
        print(start,end="\t")
        print(int(c))
        start=start+stepsize

In [16]:
printTable(0,100,20)

0	-17
20	-6
40	4
60	15
80	26
100	37

### sum of odd and even digits of given number.

In [2]:
n=int(input())
even=0
odd=0
while n>0:
    r=n%10        #we picked last digit of n one by one
    if r%2==0:     #condition of even
        even=even+r
    else:
        odd=odd+r   #condition of odd
    n=n//10       #we are removing last digit of previous n.    
print(even,"    ",odd)

132245
8      9

### febonacci series

In [4]:
n=int(input())
n1=1
n2=1
i=0
while i<n:
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3
    i=i+1

5
1
1
2
3
5

In [7]:
n=int(input())
n1=1
n2=1

while n1<n:
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3

5
1
1
2
3

In [6]:
n=int(input())
n1=1
n2=1

while n1<=n:
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3

5
1
1
2
3
5

In [19]:
def checknumber(n):
    a=1
    b=1
    while b<=n:
        c=a+b
        a=b
        b=c
    if b==n:
        print("true")
    else:
        print("false")

In [20]:
checknumber(5)

false

In [23]:
def checknumber(n):
    a=1
    b=1
    while b<=n:
       if b==n:
          return "true"
       else:
           c = a + b
           a = b
           b = c
    return "false"

n = int(input())
print(checknumber(n))

5
true

In [25]:
def checknumber(n):
    a=1
    b=1
    while b<=n:
           
        c = a + b
        a = b
        b = c
        if b==n:
          return "true"
       
    return "false"

n = int(input())
print(checknumber(n))

14
false

In [21]:
def gur(host,*guest):
    for i in guest:
        print("hello mr."+i+".i am your host mr."+host+".")

In [22]:
gur("raj","ram","tom","geet","reet")

hello mr.ram.i am your host mr.raj.
hello mr.tom.i am your host mr.raj.
hello mr.geet.i am your host mr.raj.
hello mr.reet.i am your host mr.raj.