In [1]:
def double(x):
    double=x*2
    return double

In [2]:
double(6)

12

In [3]:
double=lambda x:x*2
print(double(6))

12

In [4]:
x=lambda:"helloworld"
print(x())

helloworld

In [5]:
def square(x):
    s=x**2
    return s

In [6]:
square(8)

64

In [7]:
square=lambda x:x**2
print(square(8))

64

In [8]:
sqr=square(8)
print(sqr)

64

In [9]:
def sum(x,y):
    c=x+y
    return c

In [10]:
print(sum(1,3))

4

In [11]:
sum=lambda x,y:x+y
sum(1,3)

4

In [12]:
(lambda x,y:x+y)(1,3)

4

In [13]:
(lambda x,y=3,z=5:x*y*z)(x=7)

105

In [14]:
def sum3(x,y,z):
    c=x+sum(y,z)
    return c

In [15]:
sum3(45,56,67)

168

In [16]:
def fact(x):
    if x==1:
        return 1
    else:
        return x*fact(x-1)
print(fact(5))

120

In [17]:
def sod(n):
    if n//10==0:
        return n
    else:
        return (sod(n//10)+n%10)

In [18]:
sod(5672)

20

In [19]:
def isprime(n):
    for d in range(2,n):
        if (n%d==0):
            break
    else:
        return True
    return False

In [20]:
isprime(17)

True

In [21]:
def primefrom2toN(a):
    for k in range(2,a+1):
        is_k_prime=isprime(k)
        if (is_k_prime):
            print(k)

In [22]:
primefrom2toN(20)

2
3
5
7
11
13
17
19

In [23]:
def febo(n):
    if n==1:
        return 1
    elif n==2:
        return 1
    else:
        return(febo(n-1)+febo(n-2))

In [24]:
febo(3)

2

In [25]:
febo(5)

5

In [26]:
a=["hello",1,4.63,True,"world",2.0,False]
b=[1,2,3,4.5,6,7,"ABC"]  #indexing in list starts from 0.
print(type(a))
print(b)
print(a)
print(a[3])

<class 'list'>
[1, 2, 3, 4.5, 6, 7, 'ABC']
['hello', 1, 4.63, True, 'world', 2.0, False]
True

In [27]:
a=["hello",1,4.63,True,"world",2.0,False]
b=[1,2,3,4.5,6,7,"ABC"]

#print(b)
#print(a)
#print(a[3])
type(a)

list

### slicing

In [28]:
a[-2]

2.0

In [29]:
a[2:5]

[4.63, True, 'world']

In [30]:
a[:]

['hello', 1, 4.63, True, 'world', 2.0, False]

In [31]:
a[-1:-3:-1]

[False, 2.0]

### replacing our existing data

In [32]:
thislist=["apple","banana","kiwi","cherry","orange","mango"]
print(thislist)

['apple', 'banana', 'kiwi', 'cherry', 'orange', 'mango']

In [33]:
thislist=["apple","banana","kiwi","cherry","orange","mango"]
thislist[1:3]=["blackcurrant","watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'mango']

### insert items

In [34]:
thislist=["apple","banana","cherry"]
thislist.insert(2,"watermelon")   #means 2nd place pe hmne watermelon print krvana hai
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [35]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [36]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [37]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [38]:
thislist=["apple","banana","cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [39]:
thislist=["apple","banana","cherry"]
del thislist[1]
print(thislist)

['apple', 'cherry']

In [40]:
#program to find even numbers from list
list1=[1,2,3,5,4,8,7,9]
for i in list1:
    if i%2==0:
        print(i)

2
4
8

In [41]:
#program to merge 2 lists
list3=[1,2,4,6]
list4=[9,3,19,7]
list3.extend(list4)
print(list3)

[1, 2, 4, 6, 9, 3, 19, 7]

In [42]:
#interchange first and last element of a list
list5=[1,29,51,9,17,6,7,23]
list5[0],list5[-1]=list5[-1],list5[0]
print (list5)

[23, 29, 51, 9, 17, 6, 7, 1]

In [43]:
#program to subtract a list from another list
a=[1,2,3,5]
b=[10,20]
l1=[]
for i in a:
    if i not in b:
        l1.append(i)
print(l1)

[1, 2, 3, 5]

In [44]:
#program to get data items from list appearing odd no. of times
x=[1,2,3,4,5,1,3,3,4]
l1=[]
for i in x:
    if x.count(i)%2!=0:
        if i not in l1:
            l1.append(i)
print(l1)

[2, 3, 5]

In [45]:
a=[1,2,3,4,5,6,7,8]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
a[2:4]=[20,30]

In [47]:
a

[1, 2, 20, 30, 5, 6, 7, 8]

In [48]:
a[2:5]=[20]

In [49]:
a

[1, 2, 20, 6, 7, 8]

In [50]:
a.insert(1,111)
a

[1, 111, 2, 20, 6, 7, 8]

In [51]:
a.append(1000)

In [52]:
a

[1, 111, 2, 20, 6, 7, 8, 1000]

In [53]:
a.sort()
print(a)

[1, 2, 6, 7, 8, 20, 111, 1000]

In [54]:
a=[1,2,3]
b=[4,5,6]
print(a)
print(b)

[1, 2, 3]
[4, 5, 6]

In [55]:
a.extend(b)

In [56]:
a

[1, 2, 3, 4, 5, 6]

In [57]:
a,b=10,15
print(a,b)

10 15

In [58]:
a=[1,1,1,2,3,4,2,3,4]
a.count(1)

3

In [59]:
print(a.count(3))

2

In [60]:
a=[1,2,3,2]
print(a)

[1, 2, 3, 2]

In [61]:
a.clear()
print(a)

[]

In [62]:
a=[1,2,3,2]
a.reverse()
print(a)

[2, 3, 2, 1]

In [63]:
a=[1,2,3,2]
a.sort()
print(a)

[1, 2, 2, 3]

In [64]:
a=[1,2,3,2]
a.sort(reverse=True)
print(a)

[3, 2, 2, 1]

In [65]:
x=[2,1,4,5,3]
x.sort()
print(x)

[1, 2, 3, 4, 5]

In [66]:
x.sort(reverse=True)
print(x)

[5, 4, 3, 2, 1]

In [67]:
x=[5,2,9,0]
y=sorted(x)
print(x)
print(y)

[5, 2, 9, 0]
[0, 2, 5, 9]

In [68]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)
print(x)
print(y)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [69]:
x=[1,2,3]
y=x*3    #*operation replicates a list to n number of times.
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [70]:
x=[40,100,3,9,4]
print(min(x))
print(x)

3
[40, 100, 3, 9, 4]

In [71]:
print(max(x))
print(x)

100
[40, 100, 3, 9, 4]

In [72]:
print(x.index(3))

2

In [73]:
x=[10,30,20,30,30]
print(x.count(30))
print(x)

3
[10, 30, 20, 30, 30]

In [1]:
x=[2.5,3,3.5]
print(sum(x))
print(x)

9.0
[2.5, 3, 3.5]

In [2]:
pow2=[]
for x in range(10):
    pow2.append(2**x)

In [3]:
x=[2.5,3,3.5]
print(len(x))
print(x)

3
[2.5, 3, 3.5]

In [4]:
x=[2.5,3,3.5]
y=x.copy()
print(y)
print(x)

[2.5, 3, 3.5]
[2.5, 3, 3.5]

In [5]:
li =['abcd','def']
li.insert(4,5)   #it means at 4th index of list,we want to print 5.
print(li)

['abcd', 'def', 5]

In [6]:
li=[2,3,5,4,7,8,23,65,76,98,32,54]
li.pop()         #print last element of list.

54

In [7]:
li.pop()

32

In [8]:
li.pop()

98

In [9]:
li=[2,3,5,4,7,8,23,65,76,98,32,54]
li.pop(4)    #prints element at given index of list.

7

In [10]:
li=[2,3,5,4,7,8,23,65,76,98,32,54]
li.pop(4)    
print(li)    #prints whole list except element at given index of list.

[2, 3, 5, 4, 8, 23, 65, 76, 98, 32, 54]

In [11]:
li = ['abcd',5,'def',5]
li.remove(5)   #removes 5 at first place in fiven list.
print(li)

['abcd', 'def', 5]

In [12]:
li = [5,2,6,8]
li.pop(2)    #denotes element at index2.
print(li)

[5, 2, 8]

In [13]:
li=["abc",45,7.8,"world",True]
for i in range(len(li)):
    print(i)

0
1
2
3
4

In [14]:
li=["abc",45,7.8,"world",True]
for i in range(len(li)):
    print(li)

['abc', 45, 7.8, 'world', True]
['abc', 45, 7.8, 'world', True]
['abc', 45, 7.8, 'world', True]
['abc', 45, 7.8, 'world', True]
['abc', 45, 7.8, 'world', True]

In [15]:
li=["abc",45,7.8,"world",True]
for i in range(len(li)):
    print(li[i])

abc
45
7.8
world
True

In [16]:
for i in li:
    print(i)

abc
45
7.8
world
True

In [17]:
for i in li[2:]:
    print(i)

7.8
world
True

In [18]:
for i in li[2:4]:
    print(i)

7.8
world

In [19]:
li=[1,2,3,4,5,6,7]
li[1:4:2]

[2, 4]

In [20]:
li[1:5:1]

[2, 3, 4, 5]

In [21]:
li[1:]

[2, 3, 4, 5, 6, 7]

In [22]:
li[1::3]   #printing will start from index 1 nd leaving 3-1=2 spaces in between,
           #it will keep on printing next elements in list.

[2, 5]

In [23]:
li[1::2]  #printing will start from index 1 nd leaving 2-1=1 spaces in between,
          #it will keep on printing next elements in list.

[2, 4, 6]

In [24]:
li[:3]   #elements at 0,1 and 2nd index will be printed.

[1, 2, 3]

In [25]:
li[-1]   #by default,last element of list is the end of list,
         #so we start here from -1 index and move till -1 index only.

7

In [26]:
li[-3:-1]  # by default,last element of list is the end of list,
           #so we start here from -3 index and move till -1 index.

[5, 6]

In [28]:
n=input()

5

In [29]:
n    #input function by default takes its arguments as strings.

'5'

In [30]:
n=int(input())

5

In [31]:
n

5

In [32]:
li=[]
for i in range(n):
    curr=int(input())
    li.append(curr)
li

1
2
3
4
5

[1, 2, 3, 4, 5]

In [33]:

n = int(input())
li = []
for i in range(n):
    li.append(int(input()))
print(li)

5
1
2
3
45
5
[1, 2, 3, 45, 5]

In [34]:

n = int(input())
li = []
for i in range(n):
    li.append(input())
print(li)

5
1
2
3
4
5
['1', '2', '3', '4', '5']

In [35]:
pow2=[]
for x in range(10):
    pow2.append(2**x)
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [36]:
x=[10,30,20,30,30]
print(x.count(30))

3

In [37]:
x=[2.5,3,3.5]
print(sum(x))

9.0

In [38]:
x=[12,23,45,6,23,89]
print(max(x))
print(min(x))

89
6

In [39]:
max(x)

89

In [40]:
x=[2.5,3,3.5]
y=x.copy()
print(x)
print(y)

[2.5, 3, 3.5]
[2.5, 3, 3.5]

In [41]:
x=[2.5,3,3.5]
y=x.copy()
print(y)

[2.5, 3, 3.5]

In [42]:
print(x.index(3))

1

In [43]:
x=[2.5,3,3.5]
print(len(x))

3

In [44]:
a=[1,2,3,4,6,2,3]
a.sort()
a

[1, 2, 2, 3, 3, 4, 6]

In [45]:
a.sort(reverse=True)
a

[6, 4, 3, 3, 2, 2, 1]

In [46]:
a=[1,2,3,4,6,2,3]
a.reverse()
a

[3, 2, 6, 4, 3, 2, 1]

In [47]:
#program to find even numbers from list
list1=[1,2,3,5,4,8,7,9]
for i in list1:
    if i%2==0:
        print(i)

2
4
8

In [48]:
#program to merge 2 list.
list1=[1,2,43,5]
list2=[9,3,5,96]
list1.extend(list2)
print(list1)

[1, 2, 43, 5, 9, 3, 5, 96]

In [49]:
#interchange first and last element of list
li=[1,3,5,7,8,5,34,67,56,23,98,67]
li[0],li[-1]=li[-1],li[0]
print(li)

[67, 3, 5, 7, 8, 5, 34, 67, 56, 23, 98, 1]

In [50]:
#program to subtract list b from list a
a=[1,2,3,4,5,6]
b=[3,4,5]
li=[]
for i in a:
    if i not in b:
        li.append(i)  #here we cannot use extend bcoz it is used to merge list,
                      #means argument filled in append is a list,not some element. 
li

[1, 2, 6]

In [51]:
#program to get data items from list appearing odd no. of times.
x=[1,2,3,1,23,3,5,6,2,3,41,2,31,1,3,1,3,2,6]
li=[]
for i in x:
    if x.count(i)%2!=0:
        if i not in li:
            li.append(i)
li

[3, 23, 5, 41, 31]

In [56]:
def sod(n):
    if n//10==0:
        return n
    else:
        return sod(n//10)+n%10

In [57]:
sod(5672)

20