In [1]:
n=int(input())

5

In [2]:
rat=input()

1 2 3 4 5

In [3]:
rat

'1 2 3 4 5'

In [4]:
ratsplit=rat.split(' ')  
#it will split string into strings from place where there are strings and print in form of list.

In [5]:
ratsplit

['1', '2', '3', '4', '5']

In [6]:
rat=input()

1,2,3,4,5

In [7]:
rat   #take it as a string.

'1,2,3,4,5'

In [8]:
ratsplit=rat.split(',')   
#it will split string into strings from place where there were commas and print in form of list.

In [9]:
ratsplit

['1', '2', '3', '4', '5']

In [10]:
'''it will make new list and then print all elements of above string 
in form of integers by appending them one by one.'''
li=[]
for ele in ratsplit:
    li.append(int(ele))

In [11]:
li

[1, 2, 3, 4, 5]

In [12]:
li=[int(x)for x in input().split()]

1 2 3 4 5

In [13]:
li

[1, 2, 3, 4, 5]

In [14]:
for ele in li:
    print(ele)

1
2
3
4
5

In [19]:
n=int(input())
li=[int(x) for x in input().split()]  #this will take input as integers to form list.
for ele in li:     #it will print each element of list.
    print(ele)

5
1 2 3 4 5
1
2
3
4
5

In [21]:
#here they took each element as string to form list.
li = [x for x in input().split()]
print(li)

1 3 6 8 9
['1', '3', '6', '8', '9']