In [1]:
a = 1,2
b = (4,5)
d = a+b

print(d[2])

4

In [2]:
print(d)

(1, 2, 4, 5)

In [3]:
tup1=(1.2,34.56)
tup2=('abc','xyz')
tup3=tup1+tup2

In [4]:
tup3

(1.2, 34.56, 'abc', 'xyz')

In [5]:
tup4=tup1*4
tup4

(1.2, 34.56, 1.2, 34.56, 1.2, 34.56, 1.2, 34.56)

In [6]:
tup=(1,3,5,834,95,4)
tup[2]

5

In [7]:
tup[3]=4

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[::-1]

In [ ]:
t1=(1,1,1,3,2,2,4,6,2,1,4)
l1=list(t1)
s1=set(t1)
print(l1)
print(s1)

In [ ]:
t1=(1,2,1,4,6,1,3,2,1,2,4)
t2=tuple(set(t1))
t2

In [ ]:
stng=("aaabbbcddt")
s=set(stng)

In [ ]:
s

In [ ]:
s={1,3,7,3,2,6,8}
l1=sorted(s)
l1

In [8]:
t=(1,3,7,3,2,6,8)
l2=sorted(t)
l2

[1, 2, 3, 3, 6, 7, 8]

In [9]:
a=(5,6)
b=(1,4,560)
if a>b:
    print("a is bigger")
else:
    print("b is bigger")

a is bigger

In [10]:
a=(5,6)
b=(5,4)
if a>b:
    print("a is bigger")
else:
    print("b is bigger")

a is bigger

In [11]:
a=(5,6)
b=(6,4)
if a>b:
    print("a is bigger")
else:
    print("b is bigger")

b is bigger

In [12]:
a=("chitkara",1000,"engineering")
(college,student,type_of_college)=a
print(college)

chitkara

In [13]:
x,*y,z=(10,"chitkara","university",1000,"punjab")

In [14]:
print(x)
print(y)
print(z)

10
['chitkara', 'university', 1000]
punjab

In [15]:
print(x)
print("\n")
print(z)

10


punjab

In [16]:
a=(1,2)
a

(1, 2)

In [17]:
type(a)

tuple

In [18]:
a=(1,2,3)
for i in a:
    print(i)

1
2
3

In [19]:
1 in a

True

In [20]:
4 in a

False

In [21]:
len(a)

3

In [22]:
c=a+b
c

(1, 2, 3, 6, 4)

In [23]:
e=a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
max(a)

3

In [25]:
min(a)

1

In [26]:
a2=(1,2,"a",(1,2))
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
a=(1,2)
b=4,5
d=a+b
print(d)
print(d[2])

(1, 2, 4, 5)
4

In [28]:
a=("ab","abc","xyz")
min(a)

'ab'

In [29]:
a=("abd","abc","xyz")
min(a)

'abc'

In [30]:
def sum(a,b,*c):
    ans=a+b
    for i in c:
        ans+=i
    return ans

In [31]:
sum(2,3,4,6)

15

In [32]:
def sum_diff(a,b):
    return a+b,a-b

In [33]:
sum_diff(3,5)

(8, -2)

In [34]:
def multiply(a,b,*c):
    ans=a*b
    for i in c:
        ans*=i
    return ans

In [35]:
multiply(3,4,6,10,5)

3600

In [36]:
def sum_multiply(a,b,*c):
    s=a+b
    m=a*b
    for i in c:
        s+=i
        m*=i
    return s,m

In [37]:
sum_multiply(1,2,3,4,5)

(15, 120)

In [38]:
x=(1,2,3,4)
y=(3,5,2,1)
z=(2,2,3,1)
print("original tuples:")
print(x)
print(y)
print(z)
print("\n element-wise sum of said tuples:")
result=tuple(x[i]+y[i]+z[i] for i in range(0,4))
print(result)

original tuples:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)

 element-wise sum of said tuples:
(6, 9, 8, 6)