In [1]:
print("hello")

hello

when cell colour is blue,it is in command mode
when cell colour is green,it is in edit mode

in command mode:
       to add cell above,type a
       to add cell below,type b

In [2]:
#exponentiation
2**3

8

In [3]:
pow(2,3)

8

In [4]:
10/3 #division

3.3333333333333335

In [5]:
10//3 #floor division(quotient)

3

In [6]:
10%3 #modulus(remainder)

1

In [7]:
print(25)

25

In [8]:
li=[1,2,3,65,98,32,98]
li[len(li)-1]

98

In [9]:
li[1::]

[2, 3, 65, 98, 32, 98]

In [10]:
li[::-1]

[98, 32, 98, 65, 3, 2, 1]

In [11]:
li[1::2]

[2, 65, 32]

In [12]:
li[::]

[1, 2, 3, 65, 98, 32, 98]

In [13]:
li[1:4:-1]

[]

In [14]:
li[4:1:-1]

[98, 65, 3]

In [15]:
li[1:1:-1]

[]

In [16]:
li[-1:1:-1]

[98, 32, 98, 65, 3]

In [17]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]

In [18]:
a

[10, 20, 39, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85]

In [19]:
a.append(-10)
a

[10, 20, 39, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85, -10]

In [20]:
a.append([2,9])
a          #with append,it is added as a list

[10, 20, 39, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85, -10, [2, 9]]

In [21]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.extend([2,9])
a          #with extend,it is added as elements only

[10, 20, 39, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85, 2, 9]

In [22]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.insert(2,24)
a         #insert adds particluar element at particular index in list

[10, 20, 24, 39, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85]

In [23]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.pop()    #this will give last element of list

85

In [24]:
a       #this will give whole list except last element

[10, 20, 39, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34]

In [25]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.pop(2)

39

In [26]:
a

[10, 20, 56, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85]

In [27]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.remove(56)
a        #this will remove first occurence of 56

[10, 20, 39, 89, 56, 45, 34, 23, 90, 12, 10, 20, 56, 34, 85]

In [28]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.count(56)

3

In [29]:
a.count(100)       #gives 0 if not present

0

In [30]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.index(56)

3

In [31]:
a.index(100)     #gives error if not present

ValueError: 100 is not in list

In [32]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.reverse()
a

[85, 34, 56, 20, 10, 12, 90, 23, 34, 45, 56, 89, 56, 39, 20, 10]

In [33]:
a=[10,20,39,56,89,56,45,34,23,90,12,10,20,56,34,85]
a.sort()
a

[10, 10, 12, 20, 20, 23, 34, 34, 39, 45, 56, 56, 56, 85, 89, 90]

In [34]:
a.sort(reverse=True)
a

[90, 89, 85, 56, 56, 56, 45, 39, 34, 34, 23, 20, 20, 12, 10, 10]

In [35]:
a.sort(reverse=False)
a

[10, 10, 12, 20, 20, 23, 34, 34, 39, 45, 56, 56, 56, 85, 89, 90]

In [36]:
x=4
for i in range(0,5):
    print(x+i)

4
5
6
7
8

In [37]:
#factorial of number
x=1
for i in range(1,6):
    x=x*i
print(x)

120

In [38]:
#factorial of numbers
x=1
for i in range(1,6):
    x=x*i
    print(x)

1
2
6
24
120

In [39]:
x=10
for i in range(0,5):
    x=x-1
    print(i,x)

0 9
1 8
2 7
3 6
4 5

In [40]:
for i in range(1,5):
    if i==3:
        print("we are skipping")
        continue
    print(i)

1
2
we are skipping
4

In [41]:
for i in range(1,5):
    if i==3:
        print("we are skipping")
        break
    print(i)

1
2
we are skipping

In [42]:
#factorial by functions
def fact(x):
    fact=1
    for i in range(1,x+1):
        fact=fact*i
    return fact

In [43]:
fact(6)

720

In [44]:
#factorial by functions
def fact(x):
    fact=1
    for i in range(1,x+1):
        fact=fact*i
    return (fact)

In [45]:
fact(6)

720

#recursive functon is a function that calls itself directly or indirectly

In [46]:
#factorial using recursion functions
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)

In [47]:
factorial(6)

720

#febonacci series 0 1 1 2 3 5 8 13 21....

In [48]:
#print x th febonacci no. of serie
def febonacci(x):
    if x==1:
        return 0
    elif x==2:
        return 1
    else:
        return febonacci(x-1)+febonacci(x-2)

In [49]:
febonacci(5)

3

In [50]:
#print febonacci serie upto given number
x=int(input())
for i in range(1,x+1):
    print(febonacci(i),end=" ")

5
0 1 1 2 3

In [51]:
a={1,2,3,7,8}
b={1,7,4,5,6}
a^b       #gives all non common elements

{2, 3, 4, 5, 6, 8}

In [52]:
a

{1, 2, 3, 7, 8}

In [53]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
#square by lambda functions
square=lambda x:x*x

In [55]:
square(6)

36

In [56]:
#addition by lambda functions
add=lambda x,y:x+y

In [57]:
add(4,5)

9

In [58]:
larger= lambda x,y: "x is greater than y" if x>y else "x is smaller"

In [59]:
larger(3,6)

'x is smaller'

#a map function takes a function and iter(list/tuple) as an argument and returns a map object of all the results,which is an iterator after applying function to all elements in iter.

In [60]:
x=[1,2,3,4,5,6]
def square(x):
    return x*x

In [61]:
y=map(square,x)
list(y)

[1, 4, 9, 16, 25, 36]

In [62]:
x=[1,7,9,4,5]
y=[2,9,5,3,0]
def add(x,y):
    return x+y

In [63]:
z=map(add,x,y)
list(z)

[3, 16, 14, 7, 5]

# exception handling

In [1]:
print(x)

NameError: name 'x' is not defined

In [2]:
try:
    print(x)
except:
    print("please define x")

please define x

In [3]:
x=12

In [4]:
try:
    print(x)
except:
    print("please define x")

12

In [5]:
x="hello"
y=float(x)
print(y)

ValueError: could not convert string to float: 'hello'

In [6]:
x="hello"
try:
    y=float(x)
    print(y)
except:
    print("enter number")

enter number

In [7]:
x=100
try:
    y=float(x)
    print(y)
except:
    print("enter number")
finally:
    print("finished")

100.0
finished

In [9]:
try:
    age=12
    y=age+3
    print(y)
except:
    print("enter number")
finally:
    print("finished")

15
finished

In [13]:
def age(x):
    try:
        x=int(input())
        y=x+3
        print(y)
    except:
        print("enter number")
    finally:
        print("finished")

In [14]:
age(x)

12
15
finished